button.button-primary, button.button-primary:hover, button.button-primary:focus {
    color: black;
    background-color: #CE6727;
    border-color: #CE6727;
}

button.button-primary.selected {
    color: black;
    background-color: #CE6727;
}